<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
                <div class="modal-body">
                    <p>
                        Jeste li sigurni da se želite prijaviti?
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="submitButton" class="btn btn-primary" onclick="subscribeButtonClicked">Da</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Ne</button>
                </div>
            </div>
        </div>
    </div>

</div>   

<script>

    function subscribeButtonClicked() {
        // TODO: Subscribe to API
    }

</script>