img {
    width: 80px;
    height: 80px;
    float: left;
    display: block;
    margin-left: 7px;
}

.eventData {
    color: #0667d0;
    font-family: sans-serif;
    font-weight: bold;
}

.rating {
    transition: transform 200ms ease-in-out;
}

    .rating:hover {
        transform: scale(1.5);
    }
