

#homeTitle {
    color: #0667d0;
    font-family:'Open Sans';
    font-weight: bold;
}

#homeMainDiv {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
}

footer {
    padding-left: 10%;
}



.sportBallIcon {
    width: 115px;
    height: 115px;
    position: relative;
    margin-top: 15%;
    margin-left: 5%;
}

.sportCard {
    background-color: #ffcc80;
    padding: 2%;
    margin-top: 2%;
    height: 150px;
}

.iconDiv {
    height: 150px;
    margin-top: -2%;
    float: left;
}

.descriptionDiv {
    margin-left: 10%;
    margin-top: -2%;
    width: 300px;
    height: 150px;
    float: left;
}

.buttonsDiv {
    margin-left: 75%;
    margin-top: 0%;
    width: 200px;
    height: 150px;
}

.buttonCheckIn {
    margin-top: 18%;
}

.buttonDetails {
    margin-top: 18%;
    margin-left: 15%;
}
#descriptionText {
    white-space: pre-wrap;
    color: white;
    font-family: 'Open Sans';
    font-size: 13pt;
    position: absolute;
    margin-top: 0%;
    margin-bottom: 1%;
    margin-left: -12%;
}
