#field {
    text-align: center;
    color: #0667d0;
    border: solid #0667d0 4px;
    margin: 12%;
    margin-top: 10%;
}

.fix{
    height: 35px !important;
}

.formLabels {
    color: #0667d0;
    font-family: sans-serif;
    font-weight: bold;
}
.sub {
    display: inline-block;
    width: 70px;
}

.reg-input {
    width: 300px;
    height: 30px;
    -moz-border-radius: 10px;
    border-radius: 9px;
    border: solid 1px black;
    padding: 5px;
    transition: transform 220ms ease-in-out;
}

    .reg-input:hover {
        transform: scale(1.1);
    }

.gender-btn {
    transition: transform 220ms ease-in-out;
}

    .gender-btn:hover {
        transform: scale(1.5);
    }

.form-group {
    padding-bottom: 12px;
}

.reg-btn {
    width: 180px;
    height: 35px;
    background-color: lightsteelblue;
    color: #0667d0;
    font-weight: bold;
}

.event-register{
    margin: auto;
    padding-left: 25%;
    color: #0667d0;
}

.eventLabels {
    text-align: end;
    padding-left: 5%;
    color: #0667d0;
    font-family: sans-serif;
    font-weight: bold;
}