
/*NOTE: A lot of design for Shared view is also in simpleSidebar.css because of dynamic sideBar*/

#logoTitle {
    height: 120px;
    font-family: 'Open Sans';
    font-size: 80px;
    font-weight: bolder;
    margin-left: 30px;
    color: #0667d0;;
}

#navUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0667d0;
    height: 8px;
}

.navLi {
    float:left;
}

footer {
    font-family: 'Open Sans';
    font-weight: bolder;
}
